Source: lider
Section: unknown
Priority: extra
Maintainer: INNOVA
Build-Depends: debhelper (>= 8.0.0)
Standards-Version: 3.9.3
Homepage: http://www.pardus.org.tr
#Vcs-Git: git://git.debian.org/collab-maint/pardusmys-lider-1.0.git
#Vcs-Browser: http://git.debian.org/?p=collab-maint/pardusmys-lider-1.0.git;a=summary

Package: lider
Architecture: any
Depends: ${shlibs:Depends}, ${misc:Depends}, oracle-j2sdk1.7, sudo, dialog
Description: Pardus Lider Sunucu Kurulumu
